{% extends "base.html" %}


{% block content %}
<div class="card">
  <header class="card-header">
    <p class="card-header-title">
      <span class="icon"><i class="mdi mdi-ballot"></i></span>
      Forms
    </p>
  </header>
  <div class="card-content">
    <form method="post" action="{{ url_for('entities.entities') }}">
      <div class="field">
        <label class="label" for="the_name">Name</label>
        <input type="text" name="name" class="input">
      </div>
  
      <div class="field">
        <label class="label" for="the_email">Company</label>
        <input type="text" name="company" class="input">
      </div>

      <div class="field">
        <label class="label" for="the_email">City</label>
        <input type="text" name="city" class="input">
      </div>

      
      <div class="field">
        <input type="submit" class="button is-primary">
      </div>
    </form>
  </div>
</div>

{% endblock %}